h1, h2 {
    color: #0A1F44;
}

.filtro-tiempo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-header h1 {
    margin: 0;
}

/* HEADER */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

/* GRID PRINCIPAL */
.dashboard-layout {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Izquierda: gráficas | Derecha: saldo */
    gap: 30px;
}

/* Columna izquierda */
.charts-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Gráfica grande (barras) */
.chart-large {
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    height: 350px;
    border: 2px solid #0A1F44;
}

/* Fila de gráficas de dona */
.charts-small-row {
    display: flex;
    gap: 20px;
}

/* Gráficas pequeñas (dona) */
.chart-small {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    height: 250px;
    border: 2px solid #0A1F44;
}

/* Columna derecha (saldo + lista) */
.saldo-column {
    background: #fff;
    padding: 10px;
    border-radius: 12px;
}

.saldo-column h1 {
    margin-bottom: 10px;
}

.ultimas-transacciones {
    margin-top: 20px;
}

.transacciones-lista {
    list-style: none;
    padding-left: 0;
    margin: 0;
}