main > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

main > div > div:first-child {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between; /* Título izquierda, combo derecha */
    align-items: center;             /* Centra verticalmente */
    margin-bottom: 20px;             /* Espacio hacia abajo */
}

.filtro-tiempo {
    display: flex;
    align-items: center;     /* Alinea label y select uno al lado del otro */
    gap: 8px;               /* Espacio entre label y select */
}

.dashboard-header h1 {
    margin: 0;
}