.dashboard-header {
    display: flex;
    justify-content: space-between; /* Título izquierda, combo derecha */
    align-items: center;             /* Centra verticalmente */
    margin-bottom: 20px;             /* Espacio hacia abajo */
}

.filtro-tiempo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-header h1 {
    margin: 0;
}

.filtro-tiempo select {
  padding: 6px 10px;
  border-radius: 4px;
  border: 2px solid #e0e0e0;
}

/* Contenedor principal de dashboard */
.dashboard-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* Columna izquierda: gráficas */
.content-graficas {
    display: grid;
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
}

/* Columna derecha: saldo actual + transacciones */
.content-saldo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ultimas-transacciones {
    margin-top: 20px;
}

.transacciones-lista {
    list-style: none;
    padding: 0;
}