main {
    flex: 1;
    padding: 20px 200px;
}

h1 {
    color: #0A1F44;
}

/*Contenedor de la informaci칩n de todos los integrantes, incluyendo la foto*/
.integranteInfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 30px;
    background-color: #F4F6F8;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.integranteInfo img {
    width: 300px;                    
    height: auto;                   
    margin: auto;                   
    border-radius: 10px;   
}

/*Contenedor del contenido a la derecha*/
.infoDerecha {
    display: flex;
    flex-direction: column;        
    justify-content: center; 
    padding: 10px;
    flex: 1;
}

/*Estilos para los p치rrafos y listas de integranteInfo*/
.integranteInfo p,
.integranteInfo ul {
    margin: 10px;
    max-width: 700px;
    color: #0A1F44;
}

/**/
.integranteInfo ul li {
    color: black;
}

/*Estilos para pantallas menores de 1000px*/
@media (max-width: 1000px) {
  .integranteInfo {
    flex-direction: column; /*Los elementos cambian de posici칩n para que sea en columna*/
    padding: 12px;
    gap: 12px;
  }

    /*Las im치genes se adaptan al ancho disponible*/
  .integranteInfo img {
    max-width: 100%; /*La imagen no sobrepasa el ancho del contenedor*/
    height: auto;
    margin: 0 auto;
  }
}