main {
    flex: 1;
    padding: 20px 200px;
}

.integranteInfo h1 {
    color: #0A1F44;
}

.integranteInfo {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 30px;
    background-color: #F4F6F8;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.integranteInfo img {
    width: 300px;                    
    height: auto;                   
    margin: auto;                   
    border-radius: 10px;   
}

.infoDerecha {
    display: flex;
    flex-direction: column;        
    justify-content: center; 
    padding: 10px;
    flex: 1;
}

.integranteInfo p,
.integranteInfo ul {
    margin: 10px;
    max-width: 700px;
    color: #0A1F44;
}

.integranteInfo ul li {
    color: black;
}