

/* Estilo de los botones de crear categoria/transaccion */
.botonesMainContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }

/* Contenedor de los botones de filtrado*/
.aplicarFiltrosContainer {
    display: flex;
    gap: 10px;
    align-items: center;
}


 

/* Estilo del encabezado antes de la lista */
.transacciones-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px ;
    color: #0A1F44;
    margin-bottom: 10px;
}

.transacciones-options h1 {
    margin-right: auto;
}

.tituloFiltro {
    display: flex;
    align-items: center;
    gap: 20px;
}

.botonesCrear button {
    margin-left: 10px;
}

.lista-transacciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

/* Estilo de cada item de la lista de transacciones/categorias  */
.item {
  background-color: #F4F6F8;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  color: #0A1F44;
}

.item.ingreso {
  border-left: 6px solid #2ecc71; /* Me ayuda a aplicarlo solo a un borde */
  color: #2e7d32;
  background-color: #E8F8F2;
}

.item.gasto {
  border-left: 6px solid #e74c3c; 
  color: #c0392b;
  background-color: #FDEDEC;
}

.item-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  gap: 10px;
  
}

.item h3 {
 margin: 0;
}

.fecha-filtros {
    display: flex;
    align-items: center;
    gap: 15px;
}

.fechaInput {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #0A1F44;
}

/* Estilo del boton de opciones en cada item */
.btn-opciones {
    width: 32px;
    height: 32px;
    background: url("../assets/icons/options.svg") no-repeat center;
    background-size: 20px;
    border: none;
    cursor: pointer;
}

.btn-opciones:hover {
    background-color: #E0E0E0;
    border-radius: 10px;
}

.limpiarFiltroBtn {
    width: 32px;
    height: 32px;
    background: url("../assets/icons/refresh-ccw.svg") no-repeat center;
    background-size: 20px;
    border: none;
    cursor: pointer;
}

.limpiarFiltroBtn:hover {
    background-color: #E0E0E0;
    border-radius: 10px;
}

/* Estilo del slider de monto maximo */
.monto-slider {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

#montoMax {
    font-weight: bold;
    color: #333;
}

input[type="range"] {
    width: 250px;
}
