<!--Footer de todas las pantallas que han iniciado sesión-->
<link rel="stylesheet" href="../css/ComponentsCSS/footer.css">

<footer>
        <ul>
            <b> 
                <li><a href="../pages/nosotros.html">Conoce más de nosotros</a></li>
            </b>
           
        </ul>
        <p>Por Jesús Alveo, Jessica Zheng, Erick Hou y Roniel Quintero</p>
        <p>2025</p>
        <button class="cerrar-sesion" onclick="cerrarSesion()">Cerrar Sesión</button>
        <script>
            function cerrarSesion() {
                alert("Sesión cerrada");
            }
        </script>
        <script src="../js/AUTH/autenticacion.js"></script>
</footer>
    