
<link rel="stylesheet" href="../css/ComponentsCSS/footer.css">

<footer>
        <ul>
            <b> 
                <li><a href="../pages/nosotros.html">Conoce más de nosotros</a></li>
                <li>
                <!--El label se vincula con el ID al objeto para que salga con el, para el DROPDOWN de los idiomas-->
                    <label for="opciones">Idioma</label>
                    <select id="opciones">
                        <option value="Esp" selected>Español</option>
                        <option value="Ing">Inglés</option>
                    </select>
                </li>
            </b>
           
        </ul>
        <p>Por Jesús Alveo, Jessica Zheng, Erick Hou y Roniel Quintero</p>
        <p>2025</p>

    </footer>