<!--Header de todas las pantallas que NO han iniciado sesión-->
<link rel="stylesheet" href="../css/ComponentsCSS/header.css">

<header>
    <div class="encabezado">
        <div class="logo-izquierda">
            <a href="../pages/home.html">
                <img src="../assets/images/WalletHub_transparent_letrasBlancas_small.png" class= "WalletHubLogo" alt="WalletHub Logo">
            </a>
        </div>
        
        
        <nav class="encabezado-derecha">
            <ul class="listaLinks">
                <li><a href="../pages/autenticacion.html">IR A WALLETHUB</a></li>
                <li><a href="../pages/nosotros.html">SOBRE NOSOTROS</a></li>
            </ul>
            <div class="icon-layout"> 
                <a href="https://www.google.com" target="_blank">
                    <div class="icons" ><img src="../assets/icons/search-white.svg" alt="Icono de google"></div>
                </a>
                <a href="https://www.instagram.com" target="_blank">
                    <div class="icons" ><img src="../assets/icons/instagram-white.svg" alt="Icono de Instagram"></div>
                </a>
                
            </div>
        </nav>
    </div>

</header>