<!--Header de todas las pantallas-->
<header>
    <div class="encabezado">
        <div class="logo-izquierda">
            <a href="../pages/home.html">
                <img src="../assets/images/WalletHub_WhiteBG.png" class= "WalletHubLogo" alt="WalletHub Logo">
            </a>
        </div>
        
        
        <nav class="encabezado-derecha">
            <ul class="listaLinks">
            <!-- ../ significa subir un nivel en la estructura de carpetas.
            Desde components/layout.html subimos a FRONTEND/ y luego accedemos a pages/dashboard.html -->
                <li><a href="../pages/home.html">HOME</a></li>
                <li><a href="../pages/dashboard.html">DASHBOARD</a></li> 
                <li><a href="../pages/transaccion.html">TRANSACCIONES</a></li> 
                <li><a href="../pages/reportes.html">REPORTES</a></li>
                <li><a href="../pages/nosotros.html">SOBRE NOSOTROS</a></li>
            </ul>
            <div class="icon-layout">
                <a href="https://www.google.com">
                    <div class="icons" ><img src="../assets/icons/search-white.svg" alt="Icono de google"></div>
                </a>
                <a href="https://www.instagram.com">
                    <div class="icons" ><img src="../assets/icons/instagram-white.svg" alt="Icono de Instagram"></div>
                </a>
                
            </div>
        </nav>
    </div>

    <div style="padding-left:20px">
    <h1>Responsive Header</h1>
    <p>Resize the browser window to see the effect.</p>
    <p>Some content..</p>
    </div>
</header>