/*Estilos para popups*/
.popup-general {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /*Oculta el popup*/
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#popup-btn {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #16A085;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#popup-btn:hover {
    background-color: #3A7BD5; 
}