/*Estilos para popups*/
.popup-general {
    position: fixed; /*Fija el popup en la pantalla*/
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /*Oculta el popup*/
    justify-content: center;
    align-items: center;
    z-index: 9999; /*Asegura que el popup esté por encima de otros elementos*/
}

/*Texto dentro del popup*/
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/*Estilos generales de todos los botones de los popups*/
.botones-popup {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #16A085;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#popup-btn:hover {
    background-color: #3A7BD5; 
}

/*Estilos para popups de confirmación*/
#popup-aceptar-btn,
#popup-cancelar-btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

#popup-cancelar-btn {
    background-color: #7f8c8d;
}

#popup-cancelar-btn:hover {
    background-color: #95a5a6;
}

#popup-aceptar-btn:hover {
    background-color: #3A7BD5;
}